{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">

{% include "landing/components/head.html" %}

<body class="font-body antialiased">

  {% include "landing/components/header.html" %}
  {% include "landing/components/hero.html" %}
  {% include "landing/components/features.html" %}
  {% include "landing/components/steps.html" %}
  {% include "landing/components/about.html" %}
  {% include "landing/components/services.html" %}
  {% include "landing/components/stats.html" %}
  {% include "landing/components/team.html" %}
  {% include "landing/components/download.html" %}
  {% include "landing/components/faq.html" %}
  {% include "landing/components/contact.html" %}
  {% include "landing/components/footer.html" %}

  {% include "landing/components/scripts.html" %}

</body>
</html>